/* .nav-menu {
    display: flex;
} */

/* .nav-item {
    color: white;
    padding: 1rem;
    font-weight: 500;
} */

/* .nav-item :hover {
    color:black;
    padding-bottom: 12px;
    border-bottom: 3px solid blue;
} */

